<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.4.0" />
  <package id="FsCheck" version="2.14.2" />
  <package id="FSharp.Core" version="4.2.3" />
  <package id="NSubstitute" version="4.2.1" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" />
</packages>